In [1]:
import duckdb

In [2]:
movies_details = duckdb.read_parquet("data/transformed/movies_details")
movies_revenue = duckdb.read_parquet("data/transformed/**/*.parquet")


## Creating Genre tables

In [3]:
dim_genre = duckdb.sql("""select genre, 
                                row_number() over() as genre_id
                        from (select distinct unnest(genre) as genre from movies_details)""")



dim_genre_group = duckdb.sql(""" select md5(array_to_string(Genre, '#')) as genre_group_id 
                                from (select distinct genre from movies_details)""")



genre_groups = duckdb.sql("""select distinct genre as genre_group from movies_details""")
genre_groups_unnested = duckdb.sql("""select unnest(genre_group) as genre,
                                        array_to_string(genre_group, '#') as genre_group,
                                        md5(array_to_string(genre_group, '#')) as genre_group_id
                                    from genre_groups""")
genre_bridge = duckdb.sql("""select genre_group_id,
                            genre_id,
                            genre_group
                            from genre_groups_unnested
                            LEFT JOIN dim_genre using (genre)""")


tables_to_save = ['dim_genre_group', 'genre_bridge', 'dim_genre']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

## Creating Actors tables

In [4]:
dim_actor = duckdb.sql("""select actor, 
                                row_number() over() as actor_id
                        from (select distinct unnest(Actors) as actor from movies_details)""")



dim_actor_group = duckdb.sql("""select md5(array_to_string(Actors, '#')) as actors_group_id 
                                from (select distinct actors from movies_details)""")



actor_groups = duckdb.sql("""select distinct actors as actors_group from movies_details""")
actor_groups_unnested = duckdb.sql("""select unnest(actors_group) as actor,
                                        array_to_string(actors_group, '#') as actors_group,
                                        md5(array_to_string(actors_group, '#')) as actors_group_id
                                    from actor_groups""")
actor_bridge = duckdb.sql("""select actors_group_id,
                            actor_id,
                            actors_group
                            from actor_groups_unnested
                            LEFT JOIN dim_actor using (actor)""")
tables_to_save = ['dim_actor_group', 'actor_bridge', 'dim_actor']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

## Creating Actors tables

In [5]:
dim_language = duckdb.sql("""select language, 
                                row_number() over() as language_id
                        from (select distinct unnest(Language) as language from movies_details)""")



dim_language_group = duckdb.sql("""select md5(array_to_string(Language, '#')) as language_group_id 
                                from (select distinct language from movies_details)""")



language_groups = duckdb.sql("""select distinct language as language_group from movies_details""")
language_groups_unnested = duckdb.sql("""select unnest(language_group) as language,
                                        array_to_string(language_group, '#') as language_group,
                                        md5(array_to_string(language_group, '#')) as language_group_id
                                    from language_groups""")
language_bridge = duckdb.sql("""select language_group_id,
                            language_id,
                            language_group
                            from language_groups_unnested
                            LEFT JOIN dim_language using (language)""")
tables_to_save = ['dim_language_group', 'language_bridge', 'dim_language']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

In [6]:
## Creating Director tables

In [7]:
dim_director = duckdb.sql("""select director, 
                                row_number() over() as director_id
                        from (select distinct unnest(director) as director from movies_details)""")



dim_director_group = duckdb.sql("""select md5(array_to_string(Director, '#')) as director_group_id 
                                from (select distinct director from movies_details)""")



director_groups = duckdb.sql("""select distinct director as director_group from movies_details""")
director_groups_unnested = duckdb.sql("""select unnest(director_group) as director,
                                        array_to_string(director_group, '#') as director_group,
                                        md5(array_to_string(director_group, '#')) as director_group_id
                                    from director_groups""")
director_bridge = duckdb.sql("""select director_group_id,
                            director_id,
                            director_group
                            from director_groups_unnested
                            LEFT JOIN dim_director using (director)""")


tables_to_save = ['dim_director_group', 'director_bridge', 'dim_director']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

## Creating Director tables

In [8]:
dim_writer = duckdb.sql("""select writer, 
                                row_number() over() as writer_id
                        from (select distinct unnest(writer) as writer from movies_details)""")



dim_writer_group = duckdb.sql("""select md5(array_to_string(Writer, '#')) as writer_group_id 
                                from (select distinct writer from movies_details)""")



writer_groups = duckdb.sql("""select distinct writer as writer_group from movies_details""")
writer_groups_unnested = duckdb.sql("""select unnest(writer_group) as writer,
                                        array_to_string(writer_group, '#') as writer_group,
                                        md5(array_to_string(writer_group, '#')) as writer_group_id
                                    from writer_groups""")
writer_bridge = duckdb.sql("""select writer_group_id,
                            writer_id,
                            writer_group
                            from writer_groups_unnested
                            LEFT JOIN dim_writer using (writer)""")


tables_to_save = ['dim_writer_group', 'writer_bridge', 'dim_writer']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

## Creating Director tables

In [9]:
dim_country = duckdb.sql("""select country, 
                                row_number() over() as country_id
                        from (select distinct unnest(country) as country from movies_details)""")



dim_country_group = duckdb.sql("""select md5(array_to_string(Country, '#')) as country_group_id 
                                from (select distinct country from movies_details)""")



country_groups = duckdb.sql("""select distinct country as country_group from movies_details""")
country_groups_unnested = duckdb.sql("""select unnest(country_group) as country,
                                        array_to_string(country_group, '#') as country_group,
                                        md5(array_to_string(country_group, '#')) as country_group_id
                                    from country_groups""")
country_bridge = duckdb.sql("""select country_group_id,
                            country_id,
                            country_group
                            from country_groups_unnested
                            LEFT JOIN dim_country using (country)""")


tables_to_save = ['dim_country_group', 'country_bridge', 'dim_country']
for t in tables_to_save:
    duckdb.sql(f"""
        COPY 
            {t} 
        TO 'data/aggregated/{t}' 
        (FORMAT PARQUET, overwrite_or_ignore)""")

In [10]:
from_date = '1990-01-01'
to_date = '2030-01-01'

date_range = duckdb.sql(f"select CAST('{from_date}' AS date) as start_date, CAST('{to_date}' AS date) as end_date")
dates = duckdb.sql("select unnest(generate_series(start_date, end_date, interval '1 day')) as date from date_range")
dim_date = duckdb.sql(f"""
    SELECT
        date_diff('day', DATE '{from_date}', CAST(date AS date)) as date_id,
        CAST(date AS date) as DATE,
        monthname(date) as month_name,
        dayname(date) as day_name
    FROM dates
""")


duckdb.sql("""
    COPY 
        dim_date 
    TO 'data/aggregated/dim_date' 
    (FORMAT PARQUET, overwrite_or_ignore)""")

In [11]:
dim_distributor = duckdb.sql("select distinct distributor, row_number() over() as distributor_id from movies_revenue")

duckdb.sql("""
    COPY  
        dim_distributor 
    TO 'data/aggregated/dim_distributor' 
    (FORMAT PARQUET, overwrite_or_ignore)""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [12]:
movierating_hash_calculation = duckdb.sql("""
    SELECT *,
    md5(array_to_string(Genre, '#')) AS genre_group_id,
    md5(array_to_string(Country, '#')) AS country_group_id,
    md5(array_to_string(Actors, '#')) AS actor_group_id,
    md5(array_to_string(Language, '#')) AS language_group_id,
    md5(array_to_string(Director, '#')) AS director_group_id,
    md5(array_to_string(Writer, '#')) AS writer_group_id
    from movies_details movies
""")
fact_movie_raiting = duckdb.sql(""" 
    select 
        Title, 
        Rated,
        date_diff('day', DATE '1990-01-01', CAST(Released AS date)) as release_date_id,
        Runtime, Metascore, imdbRating, imdbVotes, BoxOffice,
        genre_group_id,
        actor_group_id,
        country_group_id,
        language_group_id,
        director_group_id,
        writer_group_id
    from movierating_hash_calculation
""")
duckdb.sql("""
    COPY 
        fact_movie_raiting 
    TO 'data/aggregated/fact_movie_raiting' 
    (FORMAT PARQUET, overwrite_or_ignore)""")

In [16]:
fact_movie_raiting_part_added = duckdb.sql("select *, replace(title, '/', '_') as p_title from read_parquet('data/aggregated/fact_movie_raiting')")
fact_movie_revenue = duckdb.sql(""" 
    select 
        id,
        revenue.title,
        date_diff('day', DATE '1990-01-01', CAST(date AS date)) as date_id,
        theaters,
        revenue,
        distributor_id,
        genre_group_id,
        actor_group_id,
        country_group_id,
        language_group_id,
        director_group_id,
        writer_group_id
    from movies_revenue revenue
    left join fact_movie_raiting_part_added raiting using (p_title)
    left join read_parquet('data/aggregated/dim_distributor') distributor using (distributor)
    
""")
duckdb.sql("""
    COPY 
        fact_movie_revenue 
    TO 'data/aggregated/fact_movie_revenue' 
    (FORMAT PARQUET, overwrite_or_ignore)""")

In [18]:
fact_movie_raiting.show()
fact_movie_revenue.show()

┌──────────────────────┬───────────┬─────────────────┬───┬──────────────────────┬──────────────────────┐
│        Title         │   Rated   │ release_date_id │ … │  director_group_id   │   writer_group_id    │
│       varchar        │  varchar  │      int64      │   │       varchar        │       varchar        │
├──────────────────────┼───────────┼─────────────────┼───┼──────────────────────┼──────────────────────┤
│ Turbo Kid            │ Not Rated │            9370 │ … │ 329f87d6d17d5ca98f…  │ 329f87d6d17d5ca98f…  │
│ Proof of Life        │ R         │            3994 │ … │ 86acc8500fa0121687…  │ 15f0771678e9d3511b…  │
│ Lost in Love         │ PG-13     │            7665 │ … │ af7822067cf2c84ce9…  │ d12f0f237f7a45f54e…  │
│ Red Tails            │ PG-13     │            8054 │ … │ 91ed63cdfc94adbd7b…  │ a2f717d07f7158e718…  │
│ The Man Who Knew I…  │ PG-13     │            9615 │ … │ 8768279dfade97b441…  │ 77ba5707b0c5dd47be…  │
│ Ready to Rumble      │ PG-13     │            3749 │ … │ 0e188ab6ad1e57f16e…  │ c74e95bbbaf90b0ad0…  │
│ Fairy Tail: Dragon…  │ TV-14     │           10087 │ … │ 30545594096758bfc7…  │ ed5dfcf555f1c15f12…  │
│ Slaughterhouse Rulez │ R         │           10728 │ … │ 820c60042567011365…  │ 924d2b37c4660ef745…  │
│ American Underdog    │ PG        │           11681 │ … │ 63807cce1dd6704165…  │ 04345e43b4c384843d…  │
│ Crawl                │ R         │           10784 │ … │ f972f99a93348d1b97…  │ 6ac99ddf0a662a3f87…  │
│   ·                  │ ·         │              ·  │ · │          ·           │          ·           │
│   ·                  │ ·         │              ·  │ · │          ·           │          ·           │
│   ·                  │ ·         │              ·  │ · │          ·           │          ·           │
│ He Named Me Malala   │ PG-13     │            9425 │ … │ 81b8acee5489bb0b69…  │ 942d2c43f331fda23d…  │
│ On the Come Up       │ PG-13     │           11953 │ … │ 1bc01408c944300295…  │ 25a565d735af7d2fc7…  │
│ Glitter              │ PG-13     │            4281 │ … │ bbe1d85b97a4498a2d…  │ 2b133255c1289fc3bb…  │
│ Wish Upon            │ PG-13     │           10056 │ … │ c1cde2772e50b430dc…  │ b3e185b6eeb9592b61…  │
│ Big Sur              │ R         │            8705 │ … │ f29e92e267d9ac1c91…  │ 2623d94435a28fb376…  │
│ Horrible Bosses      │ R         │            7858 │ … │ 0a6e346c3fb9815eb1…  │ 78bdb07d9fd3951061…  │
│ Pray: The Story of…  │ PG        │           11239 │ … │ 2a964c3bb69103a02f…  │ e99f4d03bd8fa76587…  │
│ Madagascar           │ PG        │            5653 │ … │ ed59d423c6b5e91253…  │ 49087c3b6b1f19ab55…  │
│ Christmas at Maxwe…  │ PG        │            6178 │ … │ cd3abb21577a0de72d…  │ cd3abb21577a0de72d…  │
│ Kung Fu Panda 3      │ PG        │            9524 │ … │ fbe5abc294a23c1ead…  │ 70b85c426afcf2d447…  │
├──────────────────────┴───────────┴─────────────────┴───┴──────────────────────┴──────────────────────┤
│ 1070 rows (20 shown)                                                            14 columns (5 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌──────────────────────┬──────────────────────┬─────────┬───┬──────────────────────┬──────────────────────┐
│          id          │        title         │ date_id │ … │  director_group_id   │   writer_group_id    │
│       varchar        │       varchar        │  int64  │   │       varchar        │       varchar        │
├──────────────────────┼──────────────────────┼─────────┼───┼──────────────────────┼──────────────────────┤
│ 6621f3d0-9fda-0559…  │ Valiant              │    5724 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│ 38b8c8f5-08cd-3d7f…  │ Mike and Dave Need…  │    9718 │ … │ NULL                 │ NULL                 │
│          ·           │       ·              │      ·  │ · │  ·                   │  ·                   │
│          ·           │       ·              │      ·  │ · │  ·                   │  ·                   │
│          ·           │       ·              │      ·  │ · │  ·                   │  ·                   │
│ 461508f6-19b2-24d1…  │ The Longshots        │    6847 │ … │ 5df6ed507c7dac72a5…  │ bf9a08aef7a4a35b32…  │
│ 461508f6-19b2-24d1…  │ The Longshots        │    6847 │ … │ 5df6ed507c7dac72a5…  │ bf9a08aef7a4a35b32…  │
│ 461508f6-19b2-24d1…  │ The Longshots        │    6847 │ … │ 5df6ed507c7dac72a5…  │ bf9a08aef7a4a35b32…  │
│ 461508f6-19b2-24d1…  │ The Longshots        │    6847 │ … │ 5df6ed507c7dac72a5…  │ bf9a08aef7a4a35b32…  │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
│ 251c920a-48bf-c751…  │ Breaking In          │   10376 │ … │ NULL                 │ NULL                 │
├──────────────────────┴──────────────────────┴─────────┴───┴──────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                      12 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘